
@import 'common';

#forgotPassword{
   //  padding-left: $leftMargin;
    h2{
        @include headerTextColor;
    }
    .newField{
        margin-left: 30px;
        margin-top: 45px;
        label{
            color: $primaryColorGray;
        }
        input[type="text"],input[type="password"]{
            @include textFieldStyle;
        }
        div{
            @include errorMessage;
        }
        button{
            @include buttonStyle;
        }
        span{
            color: $primaryColorRed;
        }
        &:last-child{
       //     text-align: center;
        }
    }
}