@import 'common';

#syllabus{
     [data-role="panel"]{
       @include panel;
    }
    [data-role="header"]{
        @include pageHeader;
    }
    [data-role="content"]{
        div.ui-grid-a{
            margin-bottom: 20px;
            .ui-block-a{
                label{
                    color: $primaryColorRed;
                    font-weight: bold;
                }
            }
            .ui-block-b{
                select{
                    @include selectStyle;
                }
            }
        }
    }
}