@import 'common';

#viewAttendance{
     [data-role="panel"]{
       @include panel;
    }
    [data-role="header"]{
        @include pageHeader;
    }
    [data-role="content"]{
        #viewAttendance-placeholder{
            .ui-grid-a{
                margin-bottom: 30px;
                .ui-block-a{
                    
                    label{
                        color: $primaryColorRed;
                    }
                }
                .ui-block-b{
                    input[type="text"]{
                        @include textFieldStyle;
                    }
                    select{
                        @include selectStyle;
                    }
                }
            }
        }
    }
}